
    <ul class="nav pcoded-inner-navbar ">
        <li class="nav-item pcoded-hasmenu">
            {% comment %} <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Shop</span></a>
            <ul class="pcoded-submenu">
                <li><a href="/">Home</a></li>
            </ul> {% endcomment %}
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item">
                    <a href="{% url 'shop:index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu" id="nav-item-shop">
                    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Shop</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'shop:products' %}">All</a></li>
                        <li><a href="{% url 'shop:brands' %}">Brands</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
