<!DOCTYPE html>
<html lang="cn">
<head>

    <title>
        Tofu Boutique - {% block title %}{% endblock %} 
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="/static/shop/assets/favicon.ico" type="image/x-icon">
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    <!-- vendor css -->
    <link rel="stylesheet" href="/static/shop/css/style.css">
    
</head>
<body class="">

	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
    
    {% include '../includes/sidebar.html' %} 

    {% include '../includes/navigation.html' %}

    {% block content %}
    {% endblock content %}
    {% include '../includes/shopping-cart.html' %}
    {% include '../includes/scripts.html' %} 
    <!-- Specific Page JS goes HERE  -->
    <script>
        document.addEventListener('click', function(event) {
            const outsideClick = (event.target.id == '#shopping-cart-bg'); //!$('#styleSelector').
            if (outsideClick) {
                $('#styleSelector > .style-toggler').click()
            }
        });
        $(document).ready(function() {
            var selectElement = $('select');
            if (selectElement) {
                selectElement.addClass('js-example-basic-single').select2({ width: 'max-content', dropdownAutoWidth : true, });
            }
        });

        async function getTags(token) {
            await $.ajax({
                url: '/product/' + token,
                success: (res) => {
                    var modalDiv = $("#modal-div");
                    if (modalDiv) {
                        modalDiv.remove();
                    }
                    var modalContainer = $("#modal-container");
                    if (modalContainer) {
                        modalContainer.append(res);
                        $("#modal-view-product").modal('toggle');
                    }
                }
            });
        }

        
        async function addToCart(tagTokenId, sizeId, quantityId) {
            var token = null;
            var data = {}
            if ($(tagTokenId) && $(tagTokenId).val()) {
                data['tag_token'] = $(tagTokenId).val();
                token = $(tagTokenId).val();
            }
            if ($(sizeId) && $(sizeId).val())
                data['size'] = $(sizeId).val();
            if ($(quantityId) && $(quantityId).val())
                data['quantity'] = $(quantityId).val();
            if (token) {
                await $.ajax({
                    url: '/add-to-cart/' + token,
                    data: data,
                    type: 'POST',
                    success: (res) => {
                        if ($("#modal-view-product")) {
                            $("#modal-view-product").modal('hide');
                        }
                        var cart_element = $('#cart-item-container');
                        cart_element.remove();
                        var cart_container = $('#shopping-cart-container');
                        if (cart_container && res) {
                            cart_container.append(res);
                        }
                    }
                });
            }
            
        }

        function incrementInput(id) {
            var q = $(id).val();
            $(id).val(Number(q) + 1);

        }

        function decrementInput(id, allowZero=false) {
            var q = Number($(id).val()) - 1;
            if (!allowZero && q > 0) {
                $(id).val(q);
            } else {
                if (q >= 0) {
                    $(id).val(q);
                }
            }
        }
        

        
    </script>
    {% if remove_cart_toggler %}
        <script>
            $(document).ready(() => {
                $('#styleSelector').remove();
            });
        </script>
    {% endif %}
    {% block javascripts %}
        
    {% endblock javascripts %}

    
        
    
</body>
</html>

