{% extends "../layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
				
                    {% for brand in brands %}
                    <div class="col-md-3 col-xl-2 col-lg-3 col-6 b-brand">
                        <a class=" m-2 p-15 bg-light d-inline-block" href="{% url 'shop:brands' %}{{brand.slug}}">
                            <img class="w-100" src={{ brand.logo.url }}>
                        </a>
                    </div>
                    {% endfor %}
                
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
